html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans";
	color: #808080;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;

	*::-webkit-scrollbar-thumb {
		border-radius: 20px;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: #9c8f8f;
		background: rgb(54, 56, 58);
		border: 1px solid #000;
	}

	*::-webkit-scrollbar {
		width: 10px;
	}
	*::-webkit-scrollbar-thumb:hover {
		background: rgb(54, 56, 58);
	}

	*::-webkit-scrollbar-track {
		border-radius: 20px;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: #9c8f8f;
		border: 1px solid #000;
	}
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';
@import 'page-title';
@import 'form-fields';
@import 'details';
@import 'account/account-information';
@import 'account/purchase-history';
@import 'account/account';
@import 'shop/shop';
@import 'shop/shop-search-bar';
@import 'quantity';
@import 'green-price-tag';
@import 'shop/shop-product';
@import 'shop/shop-cart';
@import 'shop/cart-product';
@import 'order/review';
@import 'order/review-form';
@import 'order/review-product';

// INFORMATION
@import 'information/payment';
@import 'information/shipping';
@import 'information/infoHelp.scss';
